h1{
    color: red;
}
.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: underline;
}

li {
    list-style: decimal;
    margin-bottom: 0.8rem;
}
span {
    margin: 0 0.3rem;
}